
h2 {background-color: yellow;}


li {color:black}

h1 {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

li{font-style: oblique;}
h2 {font-weight: 300;}

h1{font-weight: 400;}